@charset "UTF-8";

html {
  font-size: 1.4rem;
}

.header {
  width: 100%;
  margin: 30px auto 40px;
  color: red;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 30px auto 40px;
}

.date {
  float: left;
  width: 33%;
  text-align: center;
}

.en {
  float: left;
  width: 34%;
  text-align: center;
}

.setteikingaku {
  clear: left;
  width: 33%;
  text-align: center;
}

.siharaitouroku {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 2%;
  bottom: 30%;
  left: 15%;
  width: 80%;
  height: 3.2rem;
}

.button1 {
display: inline-block;
width: 200px;
padding: 20px;
border-radius: 50%;
background-color: #afa58d;
color: #fff;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.2rem;
}
.button1:hover {
  opacity: 0.9;
}

.button2 {
  float: right;
  width: 27%;
  left: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  background-color: #f1b400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

footer {
  clear: left;
}

.button-top {
display: inline-block;
width: 33%;
text-align: center;
margin: 0;
padding: 20px 0;
background-color: blue;
color: #fff;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.2rem;
position: absolute;
bottom: 0;
left: 0;
}

.button2:hover, .button-top:hover, .button-rireki:hover ,.button-setting:hover {
  opacity: 0.9;
}

.button-rireki {
display: inline-block;
width: 34%;
text-align: center;
padding: 20px 0;
background-color: pink;
color: #fff;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.2rem;
position: absolute;
bottom: 0;
left: 33%;
}

.button-setting {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 20px 0px ;
  background-color: pink;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  }

 
  //graph_box
.graph_box{
  padding:5px;
  box-sizing: border-box;
}
.graph_box_wrap{
  position: relative;
  width: 200px;
  height: 200px;
  margin:0 auto;
  &.white{
      &:after{
      content:"";
      position:absolute;
      display: block;
      width: 70px;
      height: 70px;
      background:#fff;
      top:0;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
      border-radius: 50% 50%;
    }
  }
}
.graph_box_percent{
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 50%;
  left:0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: ;
  &.block{
    display:block;
    position:static;
    margin-top:20px;
  }
  span{
    font-size: 2rem;
    font-weight: bold;
  }
}